aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aiosignal==1.3.2
altair==5.0.1
annotated-types==0.6.0
appnope==0.1.4
asttokens==3.0.0
attrs==25.1.0
beautifulsoup4==4.12.3
blinker==1.9.0
blis==1.0.1
Brotli==1.1.0
cachetools==5.5.1
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.16.0
colorama==0.4.6
comm==0.2.2
confection==0.1.4
contourpy==1.3.1
coverage==7.6.9
cycler==0.11.0
cymem==2.0.6
datasets==3.3.2
debugpy==1.8.13
decorator==5.2.1
dill==0.3.8
en_core_web_sm==3.8.0
entrypoints==0.4
exceptiongroup==1.2.2
executing==2.1.0
Faker==30.8.1
favicon==0.7.0
filelock==3.17.0
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.12.0
gensim==4.3.3
gitdb==4.0.7
GitPython==3.1.43
gmpy2==2.1.5
h2==4.2.0
hpack==4.1.0
htbuilder==0.6.1
huggingface_hub==0.29.3
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.6.1
iniconfig==1.1.1
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.7.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.8
langcodes==3.3.0
llvmlite==0.44.0
lxml==5.3.0
Markdown==3.4.1
markdown-it-py==2.2.0
markdownlit==0.0.7
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.0
mkl_fft==1.3.11
mkl_random==1.2.8
mkl-service==2.4.0
more-itertools==10.3.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.7
nest_asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numba==0.61.0
numpy==1.26.4
optree==0.14.1
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.1.0
pip==25.0
platformdirs==4.3.6
pluggy==1.5.0
preshed==3.0.6
prometheus_client==0.21.0
prompt_toolkit==3.0.50
propcache==0.2.1
protobuf==4.25.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==16.1.0
pybind11==2.13.6
pybind11_global==2.13.6
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
pydeck==0.9.1
Pygments==2.15.1
pymdown-extensions==9.11
pynndescent==0.5.10
pyparsing==3.2.0
PySocks==1.7.1
pytest==8.3.4
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.30.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.12.0
seaborn==0.13.2
setuptools==75.8.0
shellingham==1.5.0
six==1.17.0
smart-open==5.2.1
smmap==4.0.0
soupsieve==2.5
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.8
st-annotated-text==4.0.0
stack_data==0.6.3
streamlit==1.42.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-chat==0.0.2.2
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.3
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy==1.13.3
tenacity==9.0.0
thinc==8.3.2
threadpoolctl==3.5.0
tokenizers==0.21.0
toml==0.10.2
toolz==1.0.0
torch==2.3.1.post101
torch-geometric==2.6.1
torch_scatter==2.1.2
torch_sparse==0.6.18
torchinfo==1.8.0
torchvision==0.18.1a0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.49.0
typer==0.9.0
typing_extensions==4.12.2
tzdata==2025.1
umap-learn==0.5.7
unicodedata2==15.1.0
urllib3==2.3.0
validators==0.18.2
wasabi==0.9.1
wcwidth==0.2.13
weasel==0.3.4
wget==3.2
wheel==0.45.1
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
zstandard==0.19.0
